@model IEnumerable<_2280603165_NguyenHienThuc_Week3.Models.Product>

<h2 class="mt-4 mb-4">Products</h2>
<a asp-controller="Product" asp-action="Add" class="btn btn-success mb-3">Thêm sản phẩm</a>



<table class="table table-bordered table-striped text-center align-middle">
    <thead class="table-light">
        <tr>
            <th>Tên</th>
            <th>Giá</th>
            <th>Mô tả</th>
            <th>Ảnh sản phẩm</th>
            <th>Loại</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@string.Format("{0:N0} đ", product.Price)</td>
                    <td>@product.Description</td>
                    <td>
                        @if (!string.IsNullOrEmpty(product.ImageUrl))
                        {
                            <img src="@product.ImageUrl" alt="Product Image" style="width: 60px; height: auto;" />
                        }
                        else
                        {
                            <span>Không có ảnh</span>
                        }
                    </td>
                    <td>@product.Category?.Name ?? "No Category"</td>
                    <td>
                        <a asp-action="Display" asp-route-id="@product.Id" style="color: blue";class="btn btn-primary btn-sm me-1">View</a>
                        <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-info btn-sm text-white me-1">Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.Id" style="color: red";class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No products found</td>
            </tr>
        }
    </tbody>
</table>
